{% extends 'base.html'%}

{% block title %}
<p>This is my about us page</p>
{% endblock %}

{% block content %}


<h2><strong>Welcome to Our Story</strong></h2>
<h4><em>Our History</em></h4>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus, asperiores at distinctio eaque eos modi repudiandae saepe? Dolore eos itaque nulla ut vitae voluptas voluptatem, voluptatum. Consectetur cum, doloremque ducimus eligendi et facilis quaerat quas repudiandae tempora veritatis voluptate, voluptatibus.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dicta error eum laudantium officia praesentium quo, soluta! Culpa delectus est libero placeat quas quo reprehenderit similique soluta voluptatem voluptatum! Amet, rerum?</p>


{% endblock %}