{% extends 'base.html'%}

{% block title %}
<h2>This is my index page</h2>
{% endblock %}

{% block content %}

<h3><strong>LOGIN FORM</strong></h3>
<form action="">
    <label for="">First Name:</label>
    <input type="text" placeholder="Enter first name"><br>
    <label for="">Last Name:</label>
    <input type="text" placeholder="Enter Last name"><br>
    <label for="">Password:</label>
    <input type="password" placeholder="Enter your password"><br>
    <label for="">Confirm Password:</label>
    <input type="password" placeholder="confirm password">

</form>
{% endblock %}
